In [ ]:
# function  is a small block of code defined with a name useed for repeatative long codes
Function improves efficiency and reduces errors because of the reusability of a code. 
Once we create a function, we can call it anywhere and anytime. 
The benefit of using a function is reusability and modularity.

There are 4 types of function in python.

    1.User defind function.
    2.build-in function
    3.lambda function
    4.Recursion function

def key word used to create function
del function delete a function

In [1]:
# Take 10 integers from keyboard using loop and print their average value on the screen.
def myfunction():
    num=0
    avg=0
    num1=0
    for i in range(10):
        num = int(input('Enter a number: '))
        num1=num1+num
        avg=num1/10
    print(avg)

In [2]:
myfunction()

Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 5
Enter a number: 6
Enter a number: 4
Enter a number: 7
Enter a number: 8
Enter a number: 9
Enter a number: 10
5.5

In [20]:
#print multiple star patterns using for loop.
def myfun2():
    
    for i in range(10):
        print('*'*i)

In [21]:
myfun2()

*
**
***
****
*****
******
*******
********
*********

In [25]:
#print multiple star patterns using for loop.
def myfun2():
    
    for i in range(10):
        print('*'*i)
    for j in range(10):
        print('*'*(10-j))

In [26]:
myfun2()

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [36]:
#Print multiplication table of 13, 21 and 29 using loop.
def myfun3():
    print('Multiplicationtable of 13')
    for i in range(1,11,1):
        print('13 *',i,'=',13*i)
    print('Multiplicationtable of 21')
    for i in range(1,11,1):
        print('21 *',i,'=',21*i)
    print('Multiplicationtable of 29')
    for i in range(1,11,1):
        print('29 *',i,'=',29*i)

In [37]:
myfun3()

Multiplicationtable of 13
13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130
Multiplicationtable of 21
21 * 1 = 21
21 * 2 = 42
21 * 3 = 63
21 * 4 = 84
21 * 5 = 105
21 * 6 = 126
21 * 7 = 147
21 * 8 = 168
21 * 9 = 189
21 * 10 = 210
Multiplicationtable of 29
29 * 1 = 29
29 * 2 = 58
29 * 3 = 87
29 * 4 = 116
29 * 5 = 145
29 * 6 = 174
29 * 7 = 203
29 * 8 = 232
29 * 9 = 261
29 * 10 = 290

In [39]:
# To print the square of all numbers from 0 to 10
def myfun4():
    for i in range(0,11,1):
        print('Square of ',i,'=',i*i)

In [40]:
myfun4()

Square of  0 = 0
Square of  1 = 1
Square of  2 = 4
Square of  3 = 9
Square of  4 = 16
Square of  5 = 25
Square of  6 = 36
Square of  7 = 49
Square of  8 = 64
Square of  9 = 81
Square of  10 = 100

In [41]:
# To print the square of all numbers from 0 to 10
def myfun4():
    for i in range(0,11,1):
        print('Square of ',i,'=',i**2)

In [42]:
myfun4()

Square of  0 = 0
Square of  1 = 1
Square of  2 = 4
Square of  3 = 9
Square of  4 = 16
Square of  5 = 25
Square of  6 = 36
Square of  7 = 49
Square of  8 = 64
Square of  9 = 81
Square of  10 = 100

In [43]:
# To print the cube of all numbers from 0 to 10
def myfun4():
    for i in range(0,11,1):
        print('Cube of ',i,'=',i**3)

In [44]:
myfun4()

Cube of  0 = 0
Cube of  1 = 1
Cube of  2 = 8
Cube of  3 = 27
Cube of  4 = 64
Cube of  5 = 125
Cube of  6 = 216
Cube of  7 = 343
Cube of  8 = 512
Cube of  9 = 729
Cube of  10 = 1000

In [59]:
#to find the sum of all odd and even numbers from 0 to 10
def myfun4():
    list=[]
    sume=0
    for i in range(0,11,1):
        if i%2==0 and i>0:
            sume=sume+i
    print('Sum of even numbers:',sume)
    sumodd=0
    for i in range(0,11,1):
        if i%2==1 and i>0:
            sumodd=sumodd+i
    print('Sum of odd numbers:',sumodd)

In [60]:
myfun4()

Sum of even numbers: 30
Sum of odd numbers: 25

In [81]:
# adds all the numbers up to 100. Use Continue and break statement, if the sum  is greater than 6000, stop the execution
def myfun5():
    sum=0
    for i in range(0,101):
        sum=sum+i
        if sum>6000:
            break
        else:    
            continue  
    print(sum)

In [82]:
myfun5()

5050

In [121]:
#take a list with multiple duplicate items and using while loop add unique elements in another new list

def myfun6():
    list1=[1,2,3,5,4,2,5,6,8,4,5,7,8,5,1,2]
    i=0
    list2=[]
    while len(list1)>=i:
        x=list1[i]
        if x not in list2:
            list2.append(x)
        i=i+1
    print(list2)

In [122]:
 myfun6()

[1, 2, 3, 5, 4, 6, 8, 7]

In [127]:
#to stops appending items to the new list as soon as it encounters an empty string.

def myfun6():
    list1=[1,2,3,4,5,"",8,9,6,5,7]
    i=0
    list2=[]
    while i <len(list1):
        x=list1[i]
        if x=="":
           
            break
            
        else:
            list2.append(x)
            i=i+1
    print(list2)

In [128]:
myfun6()

[1, 2, 3, 4, 5]

In [129]:
#to stops appending items to the new list as soon as it encounters an empty string.

def myfun7():
    list1=[1,2,3,4,5,"",8,9,6,5,7]
    i=0
    list2=[]
    b=len(list1)
    for i in range(0,b):
        x=list1[i]
        if x=="":
            break
        else:
            list2.append(x)
    print(list2)

In [130]:
myfun7()

[1, 2, 3, 4, 5]

In [133]:
#Program to print first 5 integer and their cubes
def myfun7():
    for i in range(1,6):
        print(i,'cube =: ',i**3 )

In [134]:
myfun7()

1 cube =:  1
2 cube =:  8
3 cube =:  27
4 cube =:  64
5 cube =:  125

In [148]:
def dec_to_bin(x):
    return int(bin(x)[2:])

In [152]:
dec_to_bin(13)

1101

In [8]:
n=13
i=0
binaryNum = [0] * n
while n>0:
    binaryNum[i]=n%2
    n=int(n/2)
    i=i+1

for j in range(i - 1, -1, -1):
    print(binaryNum[j], end = "")

1101

In [13]:
#Python program to find out the average of a set of integers
def myfun8():
    list=[1,2,3,4,5,6,7,8,9,8,7,4]
    avg=0
    sum=0
    a=len(list)
    for i in range(1,a):
        x=list[i]
        sum=sum+x
        avg=sum/a
    print(avg)

In [14]:
myfun8()

5.25

In [16]:
# to display all the multiples of 3 within the range 10 to 50
def myfun9():
    for i in range(10,51):
        print(i, 'Multiples of 3:',i*3)

In [17]:
 myfun9()

10 Multiples of 3: 30
11 Multiples of 3: 33
12 Multiples of 3: 36
13 Multiples of 3: 39
14 Multiples of 3: 42
15 Multiples of 3: 45
16 Multiples of 3: 48
17 Multiples of 3: 51
18 Multiples of 3: 54
19 Multiples of 3: 57
20 Multiples of 3: 60
21 Multiples of 3: 63
22 Multiples of 3: 66
23 Multiples of 3: 69
24 Multiples of 3: 72
25 Multiples of 3: 75
26 Multiples of 3: 78
27 Multiples of 3: 81
28 Multiples of 3: 84
29 Multiples of 3: 87
30 Multiples of 3: 90
31 Multiples of 3: 93
32 Multiples of 3: 96
33 Multiples of 3: 99
34 Multiples of 3: 102
35 Multiples of 3: 105
36 Multiples of 3: 108
37 Multiples of 3: 111
38 Multiples of 3: 114
39 Multiples of 3: 117
40 Multiples of 3: 120
41 Multiples of 3: 123
42 Multiples of 3: 126
43 Multiples of 3: 129
44 Multiples of 3: 132
45 Multiples of 3: 135
46 Multiples of 3: 138
47 Multiples of 3: 141
48 Multiples of 3: 144
49 Multiples of 3: 147
50 Multiples of 3: 150

In [44]:
#Program to generate the prime numbers from 1 to N
def myfun10():
    list2=[]
    till=int(input("enter the number n:"))
    for num in range(2,till+1):
        i=2
        for i in range(2,num):
            if num%i==0:
                i=num
                break
            if i !=num:
                list2.append(num)
    print(set(list2))

In [45]:
myfun10()

enter the number n:15
{3, 5, 7, 9, 11, 13, 15}

In [52]:
# Python Program to print n prime number using for loop
  
Number = int(input(" Please Enter any Number: "))
 
print("Prime numbers between", 1, "and", Number, "are:")
 
for num in range(2, Number + 1):
   # all prime numbers are greater than 1
   if num > 1:
        for i in range(1, num):
            if (num % i) == 0:
                break
        else:
            print(num)

 Please Enter any Number: 2
Prime numbers between 1 and 2 are:
2

In [65]:
#program to find the odd and even numbers in an array.
def myfun11():
    list1=[1,2,3,4,5,8,5,4,6,8,715,52]
    list2=[]
    list3=[]
    for i in list1:
          if i%2==0 and i not in list2:
                list2.append(i)
    for j in list1:
        if j%2==1 and j not in list3:
                list3.append(j)
        
    print('Even numbers are:',list2)
    print('Odd numbers are:',list3)

In [66]:
myfun11()

Even numbers are: [2, 4, 8, 6, 52]
Odd numbers are: [1, 3, 5, 715]

In [72]:
#program to find the largest number in a list without using built-in functions
def myfun12():
    x=0
    list1=[1,5,7,8,9,45,12,56,2300,85,619,8,45,81,52,45,78,92]
    for i in list1:
        if i>x:
            x=i
    print(x)

In [73]:
myfun12()

2300

In [81]:
#program to print all the keys, values, items in a dictionary
def myfun13():
    dict1={1:"ML",2:'Python'}
    for key,value in dict1.items():
        print(key,value)

In [82]:
 myfun13()

1 ML
2 Python

In [91]:
#program to find those numbers which are divisible by 4 and multiple of 7, between 1 and 58 (both included)
def myfun14():
    list3=[]
    for i in range(1,59):
        if i%4==0 and i%7==0:
            list3.append(i)
    print(list3)

In [92]:
myfun14()

[28, 56]

In [107]:
#Prints all the numbers from 0 to 50 except multiples of 13.
def myfun15():
    list2=[]
    for i in range(0,51):
        if i%13 !=0:
            list2.append(i)
    
            
    print(list2)

In [108]:
myfun15()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [119]:
#reverse a string
def myfun15():
    str='Shilpa'
    x=len(str)
    for i in range(x-1,-1,-1):
        print(str[i])

In [120]:
myfun15()

a
p
l
i
h
S